Repository pantheon-org/awesome-opencode: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, markdownlint, yamllint, typecheck, test, validate-data

prettier:
  run: npx prettier --write "{staged_files}"

eslint:
  run: npx eslint --fix "{staged_files}"

markdownlint:
  run: npx markdownlint-cli2 --fix "{staged_files}"

yamllint:
  run: npx yamllint "{staged_files}"

typecheck:
  run: npm run typecheck

test:
  run: bun test "{staged_files}"

validate-data:
  run: bun run validate:data

feat: complete dynamic theme categorization integration
  README.md
  src/bin/sync-readme.ts
Due: prettier, eslint, typecheck

feat: add comprehensive security and validation infrastructure
  .coverage-ratchet.json
  .github/scripts/post-categorization-comment.cjs
  .github/scripts/post-triage-comment.cjs
  .github/scripts/post-validation-comment.cjs
  CONTRIBUTING.md
  SECURITY.md
  bun.lock
  docs/ai-agent-security-analysis.md
  docs/themes/ai-powered-development.md
  docs/themes/code-quality-security.md
  docs/themes/developer-productivity.md
  schemas/categories.schema.json
  schemas/themes.schema.json
  scripts/coverage-ratchet.ts
  src/bin/load-workflow-data.ts
  src/bin/validate-data.ts
  src/security/index.ts
  src/security/safe-prompt-builder.test.ts
  src/security/safe-prompt-builder.ts
  src/security/sanitize-ai-input.test.ts
  src/security/sanitize-ai-input.ts
  src/validation/index.ts
  src/validation/validate-categories.test.ts
  src/validation/validate-categories.ts
  src/validation/validate-themes.test.ts
  src/validation/validate-themes.ts
  tests/integration/security.test.ts
Due: prettier, eslint, markdownlint, typecheck, test

feat: implement comprehensive rate limiting and alerting system
  .gitignore
  docs/ai-agent-security-analysis.md
  package.json
  src/bin/generate-security-report.ts
  src/security/alert.test.ts
  src/security/alert.ts
  src/security/config.test.ts
  src/security/config.ts
  src/security/index.ts
  src/security/rate-limit.test.ts
  src/security/rate-limit.ts
  src/security/track-injections.test.ts
  src/security/track-injections.ts
  src/security/types.ts
Due: prettier, eslint, markdownlint, typecheck, test

feat: implement comprehensive security monitoring and logging dashboard
  .coverage-ratchet.json
  README.md
  SECURITY.md
  config/security-alerts.json
  package.json
  src/bin/analyze-security-history.ts
  src/bin/generate-security-dashboard.ts
  src/bin/monitor-security.ts
  src/monitoring/index.ts
  src/monitoring/logger.test.ts
  src/monitoring/logger.ts
  src/monitoring/metrics.test.ts
  src/monitoring/metrics.ts
Due: prettier, eslint, typecheck, test

refactor: resolve all ESLint warnings and improve type safety
  .coverage-ratchet.json
  src/bin/analyze-security-history.ts
  src/bin/generate-security-dashboard.ts
  src/bin/generate-security-report.ts
  src/bin/monitor-security.ts
  src/bin/validate-data.ts
  src/monitoring/metrics.ts
  src/security/alert.test.ts
  src/security/alert.ts
  src/security/config.ts
  src/security/rate-limit.ts
  src/security/safe-prompt-builder.ts
  src/security/sanitize-ai-input.ts
  src/security/track-injections.ts
  src/security/types.ts
  src/validation/validate-categories.ts
  src/validation/validate-themes.ts
Due: prettier, eslint, typecheck, test

feat: convert all TypeScript interfaces to Zod schemas
  .coverage-ratchet.json
  bun.lock
  docs/ZOD-MIGRATION.md
  package.json
  src/category/types.test.ts
  src/category/types.ts
  src/generate-report/types.ts
  src/security/types.test.ts
  src/security/types.ts
  src/tag/types.test.ts
  src/tag/types.ts
  src/theme/types.ts
  src/tool/types.test.ts
  src/tool/types.ts
Due: prettier, eslint, markdownlint, typecheck, test

docs: add antigravity vulnerability analysis and exclude .context from git tracking
  .gitignore
  docs/google-antigravity-data-exfiltration-analysis.md
Due: prettier, markdownlint

ci: restore security workflows and coverage automation
  .github/workflows/coverage-badge.yml
  .github/workflows/security-dashboard.yml
  .github/workflows/security-lint.yml
  .github/workflows/security-report.yml
  .github/workflows/security-tests.yml
  .gitignore
Due: prettier, yamllint

build: track new repo config workflow and script in gitignore
  .gitignore
Due: none

build: remove non-existent file references from gitignore
  .gitignore
Due: none

build: remove non-existent file references from gitignore
  .context/improvements/ai-agent-security-analysis.md
  .context/improvements/dynamic-categories-summary.md
  .context/improvements/dynamic-categories.md
  .context/improvements/google-antigravity-data-exfiltration-analysis.md
  .context/improvements/repository-review.md
  .context/improvements/test-coverage.md
  .context/improvements/theme-discovery.md
  .context/improvements/theme-migration.md
  .context/improvements/theme-system.md
  .context/improvements/zod-migration.md
  .gitignore
Due: prettier, markdownlint

build: remove non-existent file references from gitignore (#3)
  .context/improvements/ai-agent-security-analysis.md
  .context/improvements/dynamic-categories-summary.md
  .context/improvements/dynamic-categories.md
  .context/improvements/google-antigravity-data-exfiltration-analysis.md
  .context/improvements/repository-review.md
  .context/improvements/test-coverage.md
  .context/improvements/theme-discovery.md
  .context/improvements/theme-migration.md
  .context/improvements/theme-system.md
  .context/improvements/zod-migration.md
  .gitignore
Due: prettier, markdownlint

feat(phase-0): add workflow architecture refactoring documentation
  .context/BRANCH_STRATEGY.md
  .context/DEPENDENCY_MAP.md
  .gitignore
  docs/WORKFLOW_ARCHITECTURE.md
Due: prettier, markdownlint

feat(phase-0): add workflow architecture refactoring documentation (#5)
  .context/BRANCH_STRATEGY.md
  .context/DEPENDENCY_MAP.md
  .gitignore
  docs/WORKFLOW_ARCHITECTURE.md
Due: prettier, markdownlint

Phase 1: Extract & Consolidate Security
  .github/scripts/post-categorization-comment.ts
  .github/scripts/post-triage-comment.ts
  .github/scripts/post-validation-comment.ts
  .gitignore
  src/security/github-url.test.ts
  src/security/github-url.ts
  src/security/index.ts
Due: prettier, eslint, typecheck, test

Phase 1.7: Delete old CJS script files
  .github/scripts/post-categorization-comment.cjs
  .github/scripts/post-triage-comment.cjs
  .github/scripts/post-validation-comment.cjs
Due: none

Phase 1.8: Update integration tests for TypeScript scripts
  tests/integration/security.test.ts
Due: prettier, typecheck, test

feat: Phase 2 - Create GitHub Actions Layer
  .coverage-ratchet.json
  .github/actions/format-prompt-data/action.yml
  .github/actions/format-prompt-data/index.ts
  .github/actions/format-prompt-data/types.ts
  .github/actions/load-workflow-data/action.yml
  .github/actions/load-workflow-data/index.ts
  .github/actions/load-workflow-data/types.ts
  .github/actions/sync-readme/action.yml
  .github/actions/sync-readme/index.ts
  .github/actions/sync-readme/types.ts
  .github/actions/validate-data/action.yml
  .github/actions/validate-data/index.ts
  .github/actions/validate-data/types.ts
  .github/actions/validate-github-url/action.yml
  .github/actions/validate-github-url/index.ts
  .github/actions/validate-github-url/types.ts
  .github/badges/coverage.json
  .github/badges/security-coverage.json
  .github/workflows/categorize-tool.yml
  .github/workflows/triage-submission.yml
  .gitignore
  tsconfig.json
Due: prettier, yamllint, typecheck

feat: Phase 3 - Create Reporting Module
  data/themes.json
  docs/themes/ai-powered-development.md
  docs/themes/code-quality-security.md
  docs/themes/developer-productivity.md
  package.json
  src/reporting/index.ts
  src/reporting/security-analysis/analyze-security-history.test.ts
  src/reporting/security-analysis/analyze-security-history.ts
  src/reporting/security-analysis/generate-dashboard.test.ts
  src/reporting/security-analysis/generate-dashboard.ts
  src/reporting/security-analysis/generate-report.test.ts
  src/reporting/security-analysis/generate-report.ts
  src/reporting/security-analysis/index.ts
  src/reporting/security-analysis/types.ts
  src/reporting/theme-analysis/analyze-themes.test.ts
  src/reporting/theme-analysis/analyze-themes.ts
  src/reporting/theme-analysis/generate-recommendations.test.ts
  src/reporting/theme-analysis/generate-recommendations.ts
  src/reporting/theme-analysis/index.ts
  src/reporting/theme-analysis/types.ts
  src/reporting/types.ts
Due: prettier, eslint, markdownlint, typecheck, test, validate-data

feat(phase-4): create I/O module with file operations, markdown parser, and JSON handler
  src/io/file-operations.test.ts
  src/io/file-operations.ts
  src/io/index.ts
  src/io/json-handler.test.ts
  src/io/json-handler.ts
  src/io/markdown-parser.test.ts
  src/io/markdown-parser.ts
Due: prettier, eslint, typecheck, test

Update coverage ratchet baseline after Phase 5 module reorganization
  .coverage-ratchet.json
Due: none

Phase 6.1: Remove src/bin directory
  README.md
  RELEASE_NOTES.md
  docs/MIGRATION_GUIDE.md
  package.json
  src/bin/analyze-security-history.ts
  src/bin/analyze-themes.ts
  src/bin/format-prompt-data.ts
  src/bin/generate-security-dashboard.ts
  src/bin/generate-security-report.ts
  src/bin/generate-themes.ts
  src/bin/load-workflow-data.ts
  src/bin/monitor-security.ts
  src/bin/sync-readme.ts
  src/bin/validate-data.ts
  src/index.ts
Due: prettier, eslint, markdownlint, typecheck

Path conditions:
  prettier: any of: **/*.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss,html}, but not: .github/workflows/categorize-tool.yml
  eslint: any of: src/**/*.{ts,tsx,js,jsx}
  markdownlint: any of: **/*.md
  yamllint: any of: **/*.{yml,yaml}, but not: .github/workflows/categorize-tool.yml
  typecheck: any of: **/*.{ts,tsx}
  test: any of: **/*.{spec.ts,spec.tsx,spec.js,spec.jsx,test.ts,test.tsx,test.js,test.jsx}
  validate-data: any of: data/*.json
